<%- include('../partials/header.ejs') %> 

<div class="container">
    <div class="jumbotron m-4">
    <h1 class="display-4"><b>Welcome to Tuwuter</b></h1>
    <p class="lead">Where Fake News meets a Fake Social Media App</p>
    <hr class="my-4">
    <p>Start now, create an account below!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/register" role="button">Register an Account</a>
    </p>
    <br>
    <p>Already Signed Up?</p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" href="/login" role="button">Log in!</a>
      </p>
  </div>
</div>


<%- include('../partials/footer.ejs') %> 